PackageDistributionService.Client2.0/Web References/WcfDistributionService/DistributionService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PackageDistributionService.Core.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PackageDistributionService.Core.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PosRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDto">
        <xs:sequence>
          <xs:element name="AssemblyInfos" nillable="true" type="tns:ArrayOfAssemblyInfo" />
          <xs:element name="CoopStoreId" type="xs:int" />
          <xs:element name="HostName" nillable="true" type="xs:string" />
          <xs:element name="IpAddress" nillable="true" type="xs:string" />
          <xs:element name="PackageVersionId" type="xs:int" />
          <xs:element name="PosManufacturerName" nillable="true" type="xs:string" />
          <xs:element name="PosNumber" nillable="true" type="xs:string" />
          <xs:element name="PosVersion" nillable="true" type="xs:string" />
          <xs:element name="TerminalSerialNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PosRequest" nillable="true" type="tns:PosRequest" />
  <xs:complexType name="BaseDto">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseDto" nillable="true" type="tns:BaseDto" />
  <xs:complexType name="ArrayOfAssemblyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssemblyInfo" nillable="true" type="tns:AssemblyInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssemblyInfo" nillable="true" type="tns:ArrayOfAssemblyInfo" />
  <xs:complexType name="AssemblyInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDto">
        <xs:sequence>
          <xs:element name="AssemblyName" nillable="true" type="xs:string" />
          <xs:element name="AssemblyVersion" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AssemblyInfo" nillable="true" type="tns:AssemblyInfo" />
  <xs:complexType name="PosPackage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActivationTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Filename" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Md5CheckSum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PackageContents" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="PackageVersionId" type="xs:int" />
          <xs:element minOccurs="0" name="Status" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PosPackage" nillable="true" type="tns:PosPackage" />
</xs:schema>