PackageDistributionService.Client2.0/Web References/WcfDistributionService/DistributionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/DistributionService/DistributionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PackageDistributionService.Core.Dto" />
  <xs:element name="GetPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PackageDistributionService.Core.Dto" minOccurs="0" name="request" nillable="true" type="q1:PosRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PackageDistributionService.Core.Dto" minOccurs="0" name="GetPackageResult" nillable="true" type="q2:PosPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>